/* Adjust the button style to merge with the background */
.switch-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.5em; /* Adjust as needed */
  margin-top: 30px; /* Adjust as needed */
  opacity: 0.8; /* Adjust opacity to blend with background */
}

.switch-button:hover {
  background-color: rgba(0, 0, 0, 0.3); /* Slightly darker on hover */
  color: white;
  opacity: 1;
}
